@import "variables";
@import "../lib/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 24px;
}

/* Carousel */
.carousel-caption {
  z-index: 10 !important;

  p {
    font-size: 20px;
    line-height: 1.4;
  }
}

@media (min-width: 768px) {
  .carousel-caption {
    z-index: 10 !important;
  }
}

div#historyActions {
    padding-top: 6em;

    a.btn, form {
        margin-top: 2em;
    }
}


#messagesPane {
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: break-word;
}

h5.list-group-item-heading {
  font-weight: bold;
}

#chat {
  .list-group {
    .list-group-item {
      border-width: 0;
    }
  }
}
