@{ 
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div id="content" style="text-align:center;padding-top:50px">
        <a asp-controller="Home" asp-action="homepage" class="btn btn-default btn-default">Log In With Facebook</a>
    </div>
</body>
</html>
