@{
    ViewData["Title"] = "Hodepodge site of the Internet";
}

<div class="row">
    <div class="col-sm-4">
        Stocks display here
    </div>
    <div class="col-sm-8">
        Facebook timeline here
    </div>
</div>