@{
    ViewData["Title"] = "Calendar";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel='stylesheet' href="~/fullcalendar-2.4.0/fullcalendar.css" />
    <script src="~/fullcalendar-2.4.0/lib/jquery.min.js"></script>
    <script src="~/fullcalendar-2.4.0/lib/moment.min.js"></script>
    <script src="~/fullcalendar-2.4.0/fullcalendar.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#calendarView').fullCalendar({


            })

        });
    </script>
</head>
<body>
    <div id="calendarView">
    </div>
</body>
</html>
