@{
    ViewData["Title"] = "Stocks";
}

<div id="leftContent" style="float: left">
    <p>Lorum Ipsum</p>
</div>
<div id="centerContent" style="text-align: center">
    <p>Lorum Ipsum</p>
</div>
<div id="rightContent" style="float: right">
    <p>Lorum Ipsum</p>
</div>
